.contenedor-error {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #dfdcdcb8;
  border: red solid;
}

.content-elements-error {
  border: #000 4px solid;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
}

.content-elements-error h1 {
  margin: auto;
}
